body {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;

  background: #000;
}
.btns__selection p {
  margin: 0 0 10px;
  font-weight: 600;
  letter-spacing: 3px;
}

.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle input:checked + label {
  background-color: #fff;
  background-image: url(./sun.png);
  background-position: 10% center;
  background-size: contain;
  background-repeat: no-repeat;
}

.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: #fff;
  display: block;
  border-radius: 100px;
  position: relative;
  border: solid;
  background-image: url(./moon.png);
  background-position: 100% center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 35px;
  top: 15px;
}

.toggle label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle label:active:after {
  width: 130px;
}

.loading {
  height: 80vh;
  text-align: center;
  line-height: 80vh;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 6px;
}

.card {
  border: 3px solid;
  padding: 25px;
  width: 20%;
  min-width: 280px;
}

.wrap__window {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.card p {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 6px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.btns__selection {
  text-align: center;
  margin: 30px 5px 30px;
}
.card img {
  width: 75%;
  height: 200px;
  object-fit: cover;
  object-position: center 20%;
  border: solid 1px;
  padding: 10px;
  display: block;
  margin: 15px auto 0;
}

.btns__selection button {
  border: solid 3px;
  padding: 15px 20px;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
}
.window__wrap {
  padding-bottom: 40px;
}

.search {
  padding: 10px;
  border: solid 3px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
  min-width: 250px;
  margin: 10px;
}

@media (min-width: 480px) {
  .btns__selection {
    margin: 5px 5px 30px;
  }
}
@media (max-width: 480px) {
  .toggle label:after {
    width: 25px;
    height: 25px;
    top: 3px;
  }

  .toggle label {
    width: 65px;
    height: 30px;
    top: 70px;
    right: 15px;
  }

  .search {

    margin: 10px auto;
    display: block;
}
}
